<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Blog</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    {{> navbar}}
    
    <div class="header">
        <h1 class="heading">Update: <span class="title-update">{{blog.title}}</span></h1>

        <form class="blog-form" action="/update" method="post">
            <div class="title-box">
                <span class="title-text">Title: </span>
                <input value="{{blog.title}}" class="title" type="text" name="title" placeholder="Enter title"> 
            </div>
            <div class="actor-box">
                <span class="actor-text">Actor: </span>
                <select name="actor" class="actor">
                    <option value="">Select an actor</option>
                    {{#each actors as |a|}}
                        <option value="{{a._id}}">{{a.name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="desc-box">
                <span class="desc-text">Description: </span>
                <textarea  class="desc" type="text" name="description" placeholder="Enter description">{{blog.description}}</textarea> 
            </div>
            
            <input type="hidden" name="id" value="{{blog._id}}">

            <button class="btn" type="submit">Update</button>
        </form>
    </div>
</body>
</html>